# Sensitive Details
config/config.json

# Build
build
dist
*.jar
*.class
*.zip
MANIFEST.MF

# Markdown Previews
*.html

# Gradle
.gradle

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.classpath
.project
.metadata
.settings